@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.background-image 
{
    background-image: url('https://pbs.twimg.com/media/DMDIKcyWsAEsKDj?format=jpg&name=4096x4096');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.background-imageabout{
    background-image: url('https://wallpapercg.com/download/lakeside-3840x2160-4584.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
}

.background-imagecontact{
    background-image: url('https://i.pinimg.com/originals/4d/b3/91/4db391271d521a2e8f5dcbf5ed892996.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}